<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ECoast - Fashion eCommerce HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
        <!-- CSS ========================= -->
       <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
         <!-- Icon Font CSS -->
        <link rel="stylesheet" href="assets/css/simple-line-icons.css">
        <link rel="stylesheet" href="assets/css/ionicons.min.css">
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="assets/css/plugins.css">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Modernizer JS -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
<!-- preloader  -->
<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner"></div>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->
<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">
   <!-- header-area start -->
   <div class="header-area">
    <!-- header-top start -->
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <p>Welcome To ECoast </p>
                        
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <p>Call Us : 135 - 339 - 7090 </p> 
                    </div>
                    <div class="col-md-5 col-sm-6">
                       <!-- language-currency-wrapper start -->
                       <div class="language-currency-wrapper">
                           <ul>
                                <li class="drodown-show"><a href="#">$ Dollar (US) <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="open-dropdown">
                                        <li><a href="#">Euro €</a></li>
                                        <li class="active"><a href="#">USD $</a></li>
                                    </ul>
                                </li>
                                <li class="drodown-show"><a href="#"><img src="assets/images/icon/la-1.jpg" alt=""> English <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="open-dropdown">
                                        <li class="active"><a href="#"><img src="assets/images/icon/la-1.jpg" alt=""> English </a></li>
                                        <li><a href="#"><img src="assets/images/icon/la-2.jpg" alt=""> Français</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                       </div>
                       <!-- language-currency-wrapper end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->
        <div class="header-bottom-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-5 col-5">
                        <div class="logo">
                            <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <div class="main-menu-area text-center">
                            <nav class="main-navigation">
                                <ul>
                                    <li  class="active"><a href="index.html">Home</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="mega-menu">
                                            <li><a href="#">Column One</a>
                                                <ul>
                                                    <li><a href="compare.html">Compare Page</a></li>
                                                    <li><a href="faq.html">FAQ Page</a></li>
                                                    <li><a href="login-register.html">Login &amp; Register</a></li>
                                                    <li><a href="my-account.html">My Account Page</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Column two</a>
                                                <ul>
                                                    <li><a href="product-details.html">Product Details 1</a></li>
                                                    <li><a href="product-details-2.html">Product Details 2</a></li>
                                                    <li><a href="product-details-3.html">Product Details 3</a></li>
                                                    <li><a href="team.html">Our Team</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Column Three</a>
                                                <ul>
                                                    <li><a href="error404.html">Error 404</a></li>
                                                    <li><a href="cart.html">Cart Page</a></li>
                                                    <li><a href="checkout.html">Checkout Page</a></li>
                                                    <li><a href="wishlist.html">Wish List Page</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop.html">Shop Left</a></li>
                                            <li><a href="shop-right.html">Shop Right</a></li>
                                            <li><a href="shop-list.html">Shop List Left</a></li>
                                            <li><a href="shop-list-right.html">Shop List Right</a></li>
                                            <li><a href="shop-fullwidth.html">Shop Full Width</a></li>
                                        </ul></li>
                                    <li><a href="blog-grid.html">Blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">Blog left</a></li>
                                            <li><a href="blog-right.html">Blog Right</a></li>
                                            <li><a href="blog-grid.html">Blog Grid</a></li>
                                            <li><a href="blog-fullwidth.html">Blog Full Width</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact-us.html">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-7 col-7">
                        <div class="right-blok-box d-flex">
                            <div class="search-wrap">
                                <a href="#" class="trigger-search"><i class="icon-magnifier"></i></a>
                            </div>
                          
                            <div class="user-wrap">
                                <a href="login-register.html"><i class="icon-user"></i></a>
                            </div>
                            
                            <div class="shopping-cart-wrap">
                                <a href="#"><i class="icon-handbag"></i> <span id="cart-total">2</span></a>
                                <ul class="mini-cart">
                                    <li class="cart-item">
                                        <div class="cart-image">
                                            <a href="product-details.html"><img alt="product2" src="assets/images/product/small/product2.jpg"></a>
                                        </div>
                                        <div class="cart-title">
                                            <a href="single-product.html"><h4>Product Name 01</h4></a>
                                            <span class="quantity">1 ×</span>
                                            <div class="price-box"><span class="new-price">$200.00</span></div>
                                            <a class="remove_from_cart" href="#"><i class="icon-trash icons"></i></a>
                                        </div>
                                    </li>
                                    <li class="cart-item">
                                        <div class="cart-image">
                                            <a href="product-details.html"><img alt="product3" src="assets/images/product/small/product3.jpg"></a>
                                        </div>
                                        <div class="cart-title">
                                            <a href="product-details.html"><h4>Product Name 03</h4></a>
                                            <span class="quantity">1 ×</span>
                                            <div class="price-box"><span class="new-price">$300.00</span></div>
                                            <a class="remove_from_cart" href="#"><i class="icon-trash icons"></i></a>
                                        </div>
                                    </li>
                                    <li class="subtotal-titles">
                                        <div class="subtotal-titles"><h3>Sub-Total :</h3><span>$ 500.00</span></div>
                                    </li>
                                    <li class="mini-cart-btns">
                                        <div class="cart-btns">
                                            <a href="cart.html">View cart</a>
                                            <a href="checkout.html">Checkout</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mobile-menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    
   <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="icon-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search end -->
    
    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="icon-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search end -->
    
    
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="breadcrumb-title">My Cart Page</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">My Cart Page</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
     <!-- main-content-wrap start -->
     <div class="main-content-wrap section-ptb cart-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" class="cart-table">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="plantmore-product-thumbnail">Images</th>
                                        <th class="cart-product-name">Product Name</th>
                                        <th class="plantmore-product-price">Unit Price</th>
                                        <th class="plantmore-product-quantity">Quantity</th>
                                        <th class="plantmore-product-subtotal">Sub Total</th>
                                        <th class="plantmore-product-remove">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="plantmore-product-thumbnail"><a href="#"><img src="assets/images/product/pp7.jpg" alt="pp7"></a></td>
                                        <td class="plantmore-product-name"><a href="#">Linen crochet trim t-shirt</a></td>
                                        <td class="plantmore-product-price"><span class="amount">$90.00</span></td>
                                        <td class="plantmore-product-quantity">
                                            <input value="1" type="number">
                                        </td>
                                        <td class="product-subtotal"><span class="amount">$90.00</span></td>
                                        <td class="plantmore-product-remove"><a href="#"><i class="ion-close"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="plantmore-product-thumbnail"><a href="#"><img src="assets/images/product/pp8.jpg" alt="pp8"></a></td>
                                        <td class="plantmore-product-name"><a href="#">Linen crochet trim t-shirt</a></td>
                                        <td class="plantmore-product-price"><span class="amount">$160.00</span></td>
                                        <td class="plantmore-product-quantity">
                                            <input value="1" type="number">
                                        </td>
                                        <td class="product-subtotal"><span class="amount">$160.00</span></td>
                                        <td class="plantmore-product-remove"><a href="#"><i class="ion-close"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="plantmore-product-thumbnail"><a href="#"><img src="assets/images/product/pp9.jpg" alt="pp9"></a></td>
                                        <td class="plantmore-product-name"><a href="#">Linen crochet trim t-shirt</a></td>
                                        <td class="plantmore-product-price"><span class="amount">$150.00</span></td>
                                        <td class="plantmore-product-quantity">
                                            <input value="1" type="number">
                                        </td>
                                        <td class="product-subtotal"><span class="amount">$150.00</span></td>
                                        <td class="plantmore-product-remove"><a href="#"><i class="ion-close"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="plantmore-product-thumbnail"><a href="#"><img src="assets/images/product/pp10.jpg" alt="pp10"></a></td>
                                        <td class="plantmore-product-name"><a href="#">Linen crochet trim t-shirt</a></td>
                                        <td class="plantmore-product-price"><span class="amount">$120.00</span></td>
                                        <td class="plantmore-product-quantity">
                                            <input value="1" type="number">
                                        </td>
                                        <td class="product-subtotal"><span class="amount">$120.00</span></td>
                                        <td class="plantmore-product-remove"><a href="#"><i class="ion-close"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="coupon-all">
                                   
                                   <div class="coupon2">
                                        <input class="submit btn" name="update_cart" value="Update cart" type="submit">
                                        <a href="shop.html" class="btn continue-btn">Continue Shopping</a>
                                    </div>
                                   
                                    <div class="coupon">
                                        <h3>Discount Codes</h3>
                                        <p>Enter your coupon code if you have one.</p>
                                        <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                        <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul>
                                        <li>Subtotal <span>$520.00</span></li>
                                        <li>Shipping <span>$50.00</span></li>
                                        <li>Coupon Code <span>-$100.00</span></li>
                                        <li>Grand Total <span>$470.00</span></li>
                                    </ul>
                                    <a href="#" class="proceed-checkout-btn">Proceed to checkout</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->
    
    <!-- subscribe-area start -->
    <div class="secton-area mt--30 pb--50">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="subscribe-area">
                        <div class="subsctibe-title text-center">
                            <h3>Subscribe</h3>
                            <p>Lorem ipsum dolor sit amet consectetur elit.</p>
                        </div>
                        <div class="subscribe-content text-center">
                            <input class="input-field" type="email" placeholder="your mail address">
                            <button class=" btn subscribe-btn">SUBSCRIBE</button>
                        </div>
                    </div><br>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <div class="instagram-wrapper">
                        <div class="instaram-title text-center">
                            <h3>Follow us on Instagram <a href="#">@fashion</a></h3>
                        </div>
                        <div class="instagram-warp instagram-slider row">
                            <div class="col-lg-6">
                                <div class="single-instagram">
                                    <a href="#"><img src="assets/images/instagram1.jpg" alt="instagram1"></a>
                                </div>    
                            </div>
                            <div class="col-lg-6">
                                <div class="single-instagram">
                                    <a href="#"><img src="assets/images/instagram2.jpg" alt="instagram2"></a>
                                </div>    
                            </div>
                            <div class="col-lg-6">
                                <div class="single-instagram">
                                    <a href="#"><img src="assets/images/instagram3.jpg" alt="instagram3"></a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subscribe-area end -->
     <!-- our-brand-area start -->
     <div class="our-brand-area bg-light-grey section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="our-brand-active">
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo1.jpg" alt="logo1"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo2.jpg" alt="logo2"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo3.jpg" alt="logo3"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo4.jpg" alt="logo4"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo1.jpg" alt="logo1"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo2.jpg" alt="logo2"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo3.jpg" alt="logo3"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo1.jpg" alt="logo1"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo2.jpg" alt="logo2"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo3.jpg" alt="logo3"></a>
                        </div>
                        <div class="single-brand">
                            <a href="#"><img src="assets/images/logo4.jpg" alt="logo4"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our-brand-area end -->
     <!-- footer-area start -->
    <footer class="footer-area">
        <div class="footer-top pt--70 pb--100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="footer-info mt--60">
                            <div class="logo">
                                <a href="index.html"><img src="assets/images/logo.png" alt="logo"></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            <ul class="footer-info-list">
                                <li>
                                    <i class="ion-ios-location-outline"></i> Location : 2548 Broaddus Maple Court Avenue, Madisonville KY 4783, USA
                                </li>
                                <li>
                                    <i class="ion-ios-email-outline"></i> Mill Us : <a href="#">example@gmail.com</a>
                                </li>
                                <li>
                                    <i class="ion-ios-telephone-outline"></i> Phone: + 00 356 253585 56
                                </li>
                            </ul>
                            <div class="payment-cart">
                                <img src="assets/images/card.png" alt="card">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4">
                        <div class="footer-info mt--60">
                            <div class="footer-title">
                                <h3>Categories</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Clothing</a></li>
                                <li><a href="#">Prestashop</a></li>
                                <li><a href="#">Opencart</a></li>
                                <li><a href="#">Magento</a></li>
                                <li><a href="#">Jigoshop</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-4">
                        <div class="footer-info mt--60">
                            <div class="footer-title">
                                <h3>Information</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Blog</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Returns & Exchanges</a></li>
                                <li><a href="#">Shipping & Delivery</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1 col-md-4">
                        <div class="footer-info mt--60">
                            <div class="footer-title">
                                <h3>Quick Links</h3>
                            </div>
                            <ul class="footer-list">
                                <li><a href="#">Store Location</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Orders Tracking</a></li>
                                <li><a href="#">Checkout</a></li>
                                <li><a href="#">Shopping Rates</a></li>
                                <li><a href="#">My Wishlist</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  col-md-6"><div class="copyright">
                        <p>© 2021 ECoast. All Rights Reserved.</p>
                    </div></div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube"></i></a></li>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area end -->
    
</div>
<!-- Main Wrapper End -->

<!-- JS
============================================ -->
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Popper JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Plugins JS -->
<script src="assets/js/plugins.js"></script>
<!-- Ajax Mail -->
<script src="assets/js/ajax-mail.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
</body>
</html>